<li class="nav-item li">
    <a class="nav-link active" aria-current="page" href="/Categoria/Index/">Categorías</a>
</li>
<li class="nav-item li">
    <a class="nav-link active" aria-current="page" href="/Producto/Index/">Productos</a>
</li>
<li class="nav-item li">
    <a class="nav-link active" href="/Cliente/Index/">Clientes</a>
</li>
<li class="nav-item li">
    <a class="nav-link active" href="/Pedido/Index/">Pedidos</a>
</li>
<li class="nav-item li">
    <a class="nav-link active" href="/Detalle/Index/">Detalles</a>
</li>
<li class="nav-item li">
    <a class="nav-link active" href="/Usuario/Index/">Usuarios</a>
</li>
