<li class="nav-item li">
    <a class="nav-link active" href="/Pedido/Index/">Crear pedido Pedidos</a>
</li><li class="nav-item li">
    <a class="nav-link active" href="/Pedido/HistorialPedido/">Historial</a>
</li><li class="nav-item li">
    <a class="nav-link active" href="/Detalle/Index/">Detalle pedidos</a>
</li>