@model IEnumerable<Pagina_de_Pedidos.Models.TipoUsuario>
@{
    ViewBag.Title = "Index";
}
<h2 class="text-center py-3">Lista de tipoUsuario</h2>

<div class="card mb-4">
    <div class="card-header">
        <i class="">Datos de Usuario</i>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id_tipoUsuario</td>
                        <td>@item.nombre</td>
                        <td class="text-end">
                            <a href="/TipoUsuario/Editar/@item.id_tipoUsuario" class="btn btn-warning">Editar</a>
                            <a href="/TipoUsuario/Eliminar/@item.nombre" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-success" href="/TipoUsuario/Crear/">Crear categoria</a>
    </div>
</div>

