
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2>Inicio</h2>
        <h1>Página en construcción!</h1>
        <p>Para revisar los mantenedores use el menu de navegación en la parte superior de la página.</p>
    </div>
</div>

<div class="">
    <h1>Completos</h1>
    <div class="row justify-content-around">
        <div class="col-3 mx-xl-5">
            <div class="card">
                <img src="~/completo.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="Completo Italiano">Completo italiano</h5>
                    <p class="card-text">Los mejores completos de concepcion</p>
                    <label>Cantidad</label>
                    <input class="col-1 text-end" type="number" name="name" value="" />
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-3 mx-xl-5">
            <div class="card">
                <img src="~/completo.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="Completo Italiano">Completo italiano</h5>
                    <p class="card-text">Los mejores completos de concepcion</p>
                    <label>Cantidad</label>
                    <input class="col-1 text-end" type="number" name="name" value="" />
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-3 mx-5">
            <div class="card">
                <img src="~/completo.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="Completo Italiano">Completo italiano</h5>
                    <p class="card-text">Los mejores completos de concepcion</p>
                    <label>Cantidad</label>
                    <input class="col-1 text-end" type="number" name="name" value="" />
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <h1>Sandwich</h1>
    <div class="row justify-content-around">
        <div class="col-3 mx-xl-5">
            <div class="card">
                <img src="~/completo.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="Completo Italiano">Completo italiano</h5>
                    <p class="card-text">Los mejores completos de concepcion</p>
                    <label>Cantidad</label>
                    <input class="col-1 text-end" type="number" name="name" value="" />
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-3 mx-xl-5">
            <div class="card">
                <img src="~/completo.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="Completo Italiano">Completo italiano</h5>
                    <p class="card-text">Los mejores completos de concepcion</p>
                    <label>Cantidad</label>
                    <input class="col-1 text-end" type="number" name="name" value="" />
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-3 mx-5">
            <div class="card">
                <img src="~/completo.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="Completo Italiano">Completo italiano</h5>
                    <p class="card-text">Los mejores completos de concepcion</p>
                    <label>Cantidad</label>
                    <input class="col-1 text-end" type="number" name="name" value="" />
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>

