
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2>Inicio</h2>
        <h1>Página en construcción!</h1>
        <p>Para revisar los mantenedores use el menu de navegación en la parte superior de la página.</p>
    </div>
</div>

