@{
    ViewBag.Title = "Crear";
}
<div class="text-center">
    <h2 class="py-3">Crear Usuario</h2>
</div>
<div>
    <form method="post" action="/Usuario/Crear">
        <div class="form-group row align-items-center">
            <label class="col-3 text-end">Tipo de usuario: </label>
            <div class="col-6">
                @Html.DropDownList("id_tipoUsuario",null, "Seleccione tipo usuairo", htmlAttributes: new { @class = "form-control m-2" })
            </div>
        </div>
        <div class="form-group row align-items-center">
            <label class="col-3 text-end">Nombre: </label>
            <div class="col-6">
                <input class="form-control m-2" type="text" name="nombre" id="nombre" />
            </div>
        </div>
        <div class="form-group row align-items-center">
            <label class="col-3 text-end">Rut: </label>
            <div class="col-6">
                <input class="form-control m-2" type="text" name="rut" id="rut" />
            </div>
        </div>
        <div class="form-group row align-items-center">
            <label class="col-3 text-end">Email:</label>
            <div class="col-6">
                <input class="form-control m-2" type="text" name="email" id="email" />
            </div>
        </div>
        <div class="form-group row align-items-center">
            <label class="col-3 text-end">Contrasena:</label>
            <div class="col-6">
                <input class="form-control m-2" type="text" name="contrasena" id="contrasena" />
            </div>
        </div>
        <div class="col-9 text-end">
            <input class="btn btn-primary" type="submit" id="btnEnviar" value="Guardar" />
            <a href="/Usuario/Index" class="btn btn-success">Cancelar</a>
        </div>
    </form>
</div>
<script src="~/Scripts/swal.min.js"></script>
<script>
    $('#btnEnviar').click(function (e) {
        let error = '';
        if ($('#nombre').val().trim() == '') {
            error = 'Debe ingresar nombre del cliente \n';
        }
        if ($('#telefono').val().trim() == ''){
            error += 'Debe ingresar un telefono del cliente \n';
        }
        if ($('#telefono').val().length != 9) {
            error += 'El teléfono debe tener 9 dígitos \n';
        }
        if ($('#direccion').val().trim() == '') {
            error += 'Debe ingresar una direccion del cliente \n';
        }
        if (error != '') {
            swal('Verificar Datos Ingresados!!!', error, 'error');
            e.preventDefault();
        }
    });
    $('#rut').blur(function () {
        if ($('#rut').val().trim() != '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RutExiste")',
                data: '{existe:' + JSON.stringify($('#rut').val().trim()) + '}',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result != '') {
                        swal('Error', 'El rut existe: ' + result +' ya se encuentra regristrado', 'warning');
                        $('#rut').val();
                    }
                }

            });
        }
    });
        $('#email').blur(function () {
        if ($('#email').val().trim() != '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EmailExiste") ',
                data: '{existe:' + JSON.stringify($('#email').val().trim()) + '}',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result != '') {
                        swal('Error', 'El email existe: ' + result + ' ya se encuentra regristrado', 'warning');
                        $('#email').val();
                    }
                }

            });
        }
    });
</script>
