@model Pagina_de_Pedidos.Models.Categoria
@{
    ViewBag.Title = "Editar";
}
<div class="text-center">
    <h2 class="py-3">Editar Categoria</h2>
</div>
<div>
    <form action="/Categoria/Editar" method="post">
        <div class="form-group row align-items-center">
            <div class="col-3 text-end">
                <label>Id Categoria:</label>
            </div>
            <div class="col-6">
                <input class="form-control m-2" type="text" name="id_categoria" id="id_categoria" value="@Model.Id_categoria" readonly />
            </div>
        </div>
        <div class="form-group row align-items-center">
            <div class="col-3 text-end">
                <label>Nombre:</label>
            </div>
            <div class="col-6">
                <input class="form-control m-2" type="text" name="nombre" id="nombre" value="@Model.Nombre" />
            </div>
        </div>
        <div class="form-group row align-items-center">
            <div class="col-3 text-end">
                <label>Descripcion:</label>
            </div>
            <div class="col-6">
                <input class="form-control m-2" type="text" name="descripcion" id="descripcion" value="@Model.Descripcion"  />
            </div>
        </div>
        <div class="form-group row">
            <div class="text-end col-9">
                <input class="btn btn-warning" type="submit" id="btnEditar"  name="btnEditar" value="Editar" />
                <a href="/Categoria/Index" class="btn btn-success">Cancelar</a>
            </div>
        </div>
    </form>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script>
    $('#btnEditar').click(function (e) {
        let error = '';
        if ($('#nombre').val().trim() == '') {
            error = 'Debe ingresar nombre\n';
        }
        if ($('#descripcion').val().trim() == '') {
            error += 'Debe ingresar una descripcion\n';
        }
        if (error != '') {
            swal('Verificar Datos Ingresados!!!', error, 'error');
            e.preventDefault();
        }
        else {
            alert("Se ha editado con exito");
        }
        
    });

</script>

