body {
    height:100vh;
}
.header{
    height:10%;
}
.main{
    min-height:81%;
}
.footer {
    height: 10%;
    background: rgba(0, 0, 0, 0.2);
}
.li{
    padding-left:20px;
    padding-right:20px;
}
.li a:hover{
    color:red;
}
