@model IEnumerable<Pagina_de_Pedidos.Models.Producto>
@{
    ViewBag.Title = "Index";
}
<h2 class="text-center py-3">Lista de Productos</h2>
<div class="card mb-4 mb-5 pb-3">
    <div class="card-header">
        <i class="">Datos de productos</i>
    </div>
    <div class="card-body">
        <div class="form-group row align-items-center">
            <label class="col-4 text-end">Producto</label>
            <div class="col-4">
                @Html.DropDownList("categoria", null, "Todos", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-3">
                <button class="btn btn-success" id="buscar">Buscar</button>
            </div>
        </div>
        <div class="form-group mt-5">
            <a class="btn btn-success" href="/Producto/Crear/">Crear Producto</a>
        </div>
    </div>
    <div class="card-footer">
        <div class="table-responsive" id="tablaCategoria">
        </div>
    </div>
</div>
<script>
    $('#buscar').click(function () {
        cargarTabla();
    });
    function cargarTabla() {
        let datos = '?categoria=' + $('#categoria').val();
        $.get('@Url.Action("ListarProductos")' + datos, function (categoria) {
            $('#tablaCategoria').html(categoria);
        });
    }
</script>